body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

#data-container {
    margin-bottom: 20px;
}

#form-container {
    border: 1px solid #ccc;
    padding: 20px;
}

label {
    display: block;
    padding: 20px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 5px 10px;
}